.color-box {
    height: 300px;
    width: 400px;
    background: red;
    position: relative;
}

.buttons {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 10px;
}

.back {
    display: inline-block;
    height: 30px;
    width: 180px;
}

.forward {
    display: inline-block;
    height: 30px;
    width: 180px;  
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.center {
  width: 100%;
}